.footer {
  grid-column: empty / footnote;
  display: flex;
  gap: 50px;
  margin-bottom: 40px;

  @media (max-width: 1020px) {
    flex-direction: column;
  }
}

.footer__banner {
  flex: 2.5;
  padding: 30px 36px 0;
  position: relative;
  display: flex;
  gap: 20px;
  border-radius: 20px;
  background-color: #A0DDDC;
  background-size: cover;

  @media (max-width: 720px) {
    padding: 24px 30px 0;
    flex-direction: column;
  }
}

.footer__banner__h1 {
  flex: 1;
  font-size: 54px;
  font-family: var(--text-fontfamily-accent);
  margin: 0;

  @media (max-width: 1060px) {
    font-size: 48px;
  }
}

.footer__banner__img {
  width: 280px;
  margin: 0;
  margin-top: -74px;
  margin-right: -10px;

  @media (max-width: 1060px) {
    width: 260px;
  }

  @media (max-width: 720px) {
    width: 100%;
    margin: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.footer__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;

  @media (max-width: 1020px) {
    justify-content: flex-start;
    flex-direction: row;
  }

  @media (max-width: 720px) {
    flex-direction: column;
  }
}

.footer__links-wrapper {
  display: flex;
  gap: 20px;

  @media (max-width: 1020px) {
    flex:1;
  }
}

.footer__links {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;

  & li {
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 720px) {
    margin-bottom: 20px;
  }
}

.footer__meta {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & p, a, span {
    margin: 0;
    font-size: 12px;
    color: var(--clr-text-2);
  }

  @media (max-width: 1020px) {
    align-self: flex-end;
  }

  @media (max-width: 720px) {
    align-self: flex-start;
  }
}

.footer__meta__links {
  display: flex;
  gap: 8px;
}