/* ARTICLE */
.post-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;

  &:hover {
    & .post-card__title{
      text-decoration-line: underline;
      text-decoration-thickness: 1.5px;
      text-underline-offset: 3px;  
      text-decoration-color: var(--clr-theme-pop-element); 
    }
  }
}

.post-card__content {
  display: flex;
  flex-direction: column;
}

.post-card__image {
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 28px;

  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.post-card__title {
  font-family: var(--text-fontfamily-accent);
  line-height: 1.1;
  text-wrap: balance;
  color: var(--clr-text-1);
  text-decoration: none;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 8px;

  @media (max-width: 600px) {
    font-size: 34px;
  }
}

.post-card__caption {
  font-size: 12px;
  color: var(--clr-text-2);
  margin-bottom: 14px;
}

.post-card__excerpt {
  font-size: 16px;
  font-weight: 400;
  color: var(--clr-text-1);
  line-height: 1.6;
  margin: 0;
}

/* MODS */
.post-card--hor {
  flex-direction: row;

  & .post-card__content {
    flex: 2;
  }

  & .post-card__image {
    flex: 1;
    margin-bottom: 0;
    margin-right: 34px;
  }
}

.post-card--tablet-hor {
  @media (max-width: 1020px ) and (min-width: 600px) {
    flex-direction: row;

    & .post-card__content {
      flex: 2;
    }

    & .post-card__image {
      flex: 1;
      margin-bottom: 0;
      margin-right: 34px;
    }
  }
}