/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* set up basics */
@import 'reset.css';
@import 'design-tokens.css';

/* import shared styles */
@import 'shared/banners.css';
@import 'shared/post-card.css';
@import 'shared/post-rows.css';
@import 'shared/subscribe.css';

/* import home styles */
@import 'home/hero.css';
@import 'home/featured-articles.css';
@import 'home/yt-promo.css';
@import 'home/articles-list.css';

/* import article style */
@import 'post/post-hero.css';
@import 'post/post-content.css';
@import 'post/post-corousel.css';


.page {
  --col-gutter: 40px;
  --footnote-width: min(400px, 30vw);
  --empty-col-width: 40px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--clr-bg-2);
  overflow: hidden;
}

.content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 40px;

  @media (max-width: 640px) {
    padding: 20px;
  }
}

.grid-layout {
  display: grid;
  grid-template-columns: var(--empty-col-width) 10fr var(--footnote-width);
  grid-template-areas: "empty content footnote";
  gap: var(--col-gutter);
}

/* NAVBAR */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

/* navbar logo */
.navbar__logo-mark-wrapper {
  justify-self: start;
  grid-column: empty;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar__logo-mark {
  width: 28px;
  font-weight: 700;
  grid-area: empty;
}

.navbar__logo-slash {
  position: absolute;
  top: 40%;
  left: 48px;
  width: 2px;
  height: 28px;
  background-color: var(--clr-text-1);
  transform: rotate(32deg) scaleX(0.8) translateY(-50%);
  opacity: 0.3;
}

.navbar__content {
  grid-column: content / footnote;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.navbar__blog-name-wrapper {
  display: flex;
  align-items: center;
}

.navbar__blog-name {
  font-family: var(--text-fontfamily-accent);
  font-size: 38px;
  letter-spacing: -0.02em;
  line-height: 1;
  color: var(--clr-text-1);
  white-space: nowrap;
}

.navbar__rss-link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  color: var(--clr-text-1);
  margin-left: 20px;

  &:hover {
    text-decoration: underline;
  }
}

/* navbar links */
.navbar__links {
  display: flex;
  gap: 32px;
  align-items: center;
}

.navbar__main-links {
  display: flex;
  gap: 20px;

  & a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    gap: 6px;
    color: var(--clr-text-1);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.navbar__join-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 6px 6px 8px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 500;
  color: var(--clr-text-1);
  border-radius: 6px;
  border: 1px solid var(--clr-border-2);
  text-decoration: none;

  &:hover {
    background-color: var(--clr-bg-4);
  }
}

