.post-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 40px 24px;
  
    @media (max-width: 640px) {
      padding: 20px;
    }
  

  @layer base {
    --element-margin-bottom: 28px;

    & h1, h2, h3, h4 {
      font-family: var(--text-fontfamily-accent);
      line-height: 1.1;
      color: var(--clr-text-1);
      margin-top: 48px;
      margin-bottom: 20px;

      & code {
        font-family: var(--text-fontfamily-accent);
        font-style: italic;
      }
    }

    & h1 {
      font-size: 60px;
    }
    & h2 {
      font-size: 44px;
    }
    & h3 {
      font-size: 38px;
    }
    & h4 {
      font-size: 32px;
    }

    & a {
      color: var(--clr-text-1);
      text-decoration-line: underline;
      transition: all 0.1s ease;

      &:hover {
        color: var(--clr-theme-pop-element);
      }
    }

    & p {
      font-size: 16px;
      line-height: 1.6;
      color: var(--clr-text-1);
      margin-bottom: var(--element-margin-bottom);
    }

    & code {
      font-family: var(--text-fontfamily-mono);
      line-height: 1.5;
      color: var(--clr-text-1);
      background-color: var(--clr-bg-3);
      padding: 2px 6px;
      border-radius: 4px;
    }

    & pre {
      display: flex;
      flex-direction: column;
      background-color: var(--clr-bg-3);
      padding: 16px;
      border-radius: 8px;
      margin-bottom: var(--element-margin-bottom);
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    & figure img, & figure iframe {
      margin: 0;
    }


    & figcaption {
      font-size: 14px;
      line-height: 1.6;
      color: var(--clr-text-2);
      margin-top: 20px;
      margin-bottom: var(--element-margin-bottom);   
    }


    & blockquote {
      position: relative;
      font-family: var(--text-fontfamily-accent);
      font-size: 32px;
      font-style: italic;
      line-height: 1.5;
      text-align: center;
      padding: 34px 30px;
      margin: 40px 0;
      border-top: 1px solid var(--clr-theme-pop-element);
      border-bottom: 1px solid var(--clr-theme-pop-element);

      &::before, &::after {
        content: '"';
        color: var(--clr-text-2);
      }

      @media (max-width: 720px) {
        font-size: 26px;
        padding: 30px 16px;
      }
    }

    & ul, & ol {
      margin-bottom: var(--element-margin-bottom);
      padding-left: 20px;
      list-style-position: inside;
      list-style-type: disc;

      & li {
        font-size: 16px;
        line-height: 1.6;
        color: var(--clr-text-1);
        margin-bottom: 10px;

        & ul, & ol {
          margin-top: 10px;
          margin-bottom: 0;
        }
      }
    }

    & img {
      display: block;
      height: auto;
      border-radius: 16px;
      margin-bottom: var(--element-margin-bottom);
    }
  }


  /* OVERRIDES */
  .subscription {
    margin-bottom: 50px;

    @media (max-width: 720px) {
      margin-bottom: 40px;
    }
  }

  .three-col-banner {
    margin-bottom: 40px;
  }
}

.large-image {
  margin-left: calc((var(--empty-col-width) + var(--col-gutter)) * -1);
  width: calc(100% + (var(--empty-col-width) + var(--col-gutter)));
  max-width: unset;

  @media (max-width: 720px) {
    margin-left: 0;
    width: 100%;
    max-width: var(--art-content-width);
  }
}

.embed-video {
  margin-top: 40px;
  margin-bottom: var(--element-margin-bottom);
  width: 100%;
  max-width: var(--art-content-width);
  aspect-ratio: 16 / 9;
  border-radius: 16px;
}

.post-content__body {
  grid-column: content;

  @media (max-width: 1020px) {
    grid-column: content / footnote;
  }

  @media (max-width: 720px) {
    grid-column: empty / footnote;
  }
}

/* SOCIAL MEDIA SHARE */
.post-share-links {
  grid-column: empty;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 720px) {
    grid-column: empty / footnote;
    flex-direction: row;
    margin-bottom: 20px;
  }
}

.post-share-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transition: all 0.2s ease;

  &.hackernews:hover {
    color: #EA743D;
  }
  &.blsk:hover {
    color: #4287F6;
  }
  &.linkedin:hover {
    color: #0077B5;
  }
  &.twitter:hover {
    color:rgb(82, 82, 82);
  }
  &.copy-link:hover {
    color: #24B4AD;
  }
}

/* OFF-GRID SECTIONS */
.off-grid-wrapper {
  position: relative;

  /* hide on mobile */
  @media (max-width: 1020px) {
    display: none;
  }
}

.off-grid-container {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(calc(100% + var(--col-gutter)));
  width: var(--footnote-width);

  @media (max-width: 1020px) {
    position: static;
    transform: translateX(0);
    top: auto;
    right: auto;
    width: 100%;
  }
}

/* RELATED ARTICLES */
.post__related-articles {
  border-radius: 10px;
  border: 1px solid var(--clr-border-2);
  padding: 26px;
  margin-bottom: var(--element-margin-bottom);

  @media (max-width: 1020px) {
   display: none;
  }

  & h3 {
    font-family: var(--text-fontfamily-accent);
    font-size: 38px;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 20px;
  }

  & p {
    font-size: 12px;
    line-height: 1.5;
    color: var(--clr-text-1);
    margin-bottom: 12px;
  }

  & ul {
    list-style: none;
    padding-left: 0;
    columns: 1;
    column-gap: 30px;
    margin-bottom: 0;
  }

  & li {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  & li:last-child {
    margin-bottom: 0;
  }
 
}

/* TABLE OF CONTENTS */
.post__table-of-contents {
  top: 110px;
  border-radius: 10px;
  border: 1px solid var(--clr-border-2);
  padding: 26px;
  margin-bottom: 32px;

  & h3 {
    font-family: var(--text-fontfamily-accent);
    font-size: 38px;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 20px;
  }

  & ul {
    list-style: none;
    padding-left: 0;
    columns: 1;
    column-gap: 30px;
    margin-bottom: 0;
  }

  & li {
    font-size: 14px;
    line-height: 1.5;
    color: var(--clr-text-1);
    margin-bottom: 12px;
  }

  & li:last-child {
    margin-bottom: 0;
  }

  & a {
    color: var(--clr-text-1);
    text-decoration: none;
    transition: all 0.1s ease;

    &:hover {
      text-decoration: dotted underline;
    }

    &.selected {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

/* POST BIO */
.post-bio {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  width: calc(100% + (var(--empty-col-width) + var(--col-gutter)));
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: calc((var(--empty-col-width) + var(--col-gutter)) * -1);
  border-top: 1px solid var(--clr-border-2);
  border-bottom: 1px solid var(--clr-border-2);
  padding: 40px 0 40px calc(var(--empty-col-width) + var(--col-gutter));


  @media (max-width: 720px) {
    width: 100%;
    margin-left: 0;
    padding: 40px 0 40px;
  }
}

.post-bio__avatar {
  width: 44px;
  height: 44px;
  border-radius: 10px;
}

.post-bio__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-bio__title {
  font-size: 16px;
  font-weight: 600;
  color: var(--clr-text-1);
  margin: 0;
}

.post-bio__about {
  font-size: 14px;
  line-height: 1.5;
  color: var(--clr-text-2);
  margin: 0;
}

.post-bio__links {
  display: flex;
  margin-top: 10px;

  & a {
    font-size: 14px;
    color: var(--clr-text-2);

    &:hover {
      color: var(--clr-theme-pop-element);
    }

    &:after {
      content: '|';
      display: inline-block;
      margin: 0 10px;
      opacity: 0.5;
    }

    &:last-child:after {
      display: none;
    }
  }
}

/* HIRING BANNER */
.post__hiring-banner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--clr-theme-pop-soft);
  padding: 26px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: var(--element-margin-bottom);
}

.post__hiring-banner__title {
  margin: 0;
  font-size: 40px;
}

.post__hiring-banner__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post__hiring-banner__position {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-decoration: none;
}

.post__hiring-banner__position-title {
  font-family: var(--text-fontfamily-default);
  font-size: 16px;
  text-decoration-line: underline;
  color: var(--clr-text-1);
  margin: 0;
}

.post__hiring-banner__position-description {
  font-size: 14px;
  line-height: 1.5;
  color: var(--clr-text-1);
  margin: 0;
  text-decoration: none;
}

.post__hiring-banner__position-caption {
  font-size: 12px;
  line-height: 1.5;
  color: var(--clr-text-2);
  margin: 0;
  text-decoration: none;
}

.post__hiring-banner__illustration {
  align-self: flex-end;
  width: 170px;
  margin-top: -20px;
  margin-bottom: -60px;

  @media (max-width: 1020px) {
    display: none;
  }
}