.posts-carousel {
  grid-column: empty / footnote;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  @media (max-width: 1020px) {
    margin-bottom: 60px;
  }

  @media (max-width: 720px) {
    margin-bottom: 40px;
  }
}

.posts-carousel__header {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 26px;

  & h2 {
    font-size: 60px;
    margin: 0;
    text-wrap: balance;
  }

  @media (max-width: 1020px) {
    & h2 {
      font-size: 52px;
    }
  }
}

.posts-carousel__controls {
  display: flex;
  gap: 6px;
}

.posts-carousel__posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: 1020px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
}

.posts-carousel__controls__button {
  display: flex;
  align-items: center;
  padding: 16px 8px;  
  border-radius: 50px;
  color: var(--clr-text-1);
  border: 1px solid var(--clr-border-2);
  transition: padding 0.2s ease;

  &.inactive {
    opacity: 0.5;
    color: var(--clr-text-3);
    pointer-events: none;
  }

  /* desktop */
  @media (min-width: 1021px) {
    &:hover {
      padding: 16px 18px;
    }
  }

  /* tablet */
  @media (max-width: 1020px) {
    padding: 12px 6px;

    & svg {
      width: 30px;
      height: 30px;
    }
  }
}