.articles-list {
  display: flex;
  gap: 48px;
  margin-bottom: 64px;

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 40px;
  }
}

.articles-list__large-article {
  flex: 2;

  @media (max-width: 1020px) {
    flex: 1;
  }
}

.articles-list__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 3;

  @media (min-width: 1020px) {
    & .article-card__title {
      font-size: 34px;
    }
  }
  
  

  @media (max-width: 1020px) {
    flex: 1;
  }
}