/* HERO */
.hero {
  display: flex;
  gap: 40px;
  margin-bottom: 64px;

  @media (max-width: 1020px) {
    flex-direction: column;
    gap: 32px;
  }

  &:hover {
    .hero-title {
      text-decoration: underline;
    }
  }
}

.hero-image {
  display: flex;
  align-items: flex-end;
  flex: 1;
  border-radius: 20px;
  background-color: var(--clr-bg-3);
  overflow: hidden;
  object-fit: cover;
}

.hero-content {
  align-self: flex-end;
  flex: 1.1;
  display: flex;
  flex-direction: column;

  @media (max-width: 1020px) {
    flex: 1;
  }
}

.hero-caption {
  font-size: 14px;
  color: var(--clr-text-2);
  margin-bottom: 6px;
}

.hero-title {
  font-family: var(--text-fontfamily-accent);
  color: var(--clr-text-1);
  text-wrap: balance;
  text-decoration: none;
  line-height: 1.05;
  font-size: 58px;
  margin-bottom: 16px;

  @media (max-width: 1200px) {
    font-size: 48px;
  }

  @media (max-width: 640px) {
    font-size: 38px;
  }
}

.hero-excerpt {
  font-size: 18px;
  font-weight: 600;
  color: var(--clr-text-1);
  line-height: 1.6;
  margin-bottom: 16px;
}

.hero-description {
  font-size: 16px;
  color: var(--clr-text-1);
  line-height: 1.6;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
